body {
    font-family: helvetica;
	color: white;
    font-weight: bold;
    background: #fed;
    margin: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

h1 {
    margin: 24px 60px;
    color: #fed;
    text-transform: uppercase;
    font-weight: bold;
    /* text-shadow: 0px 0px 1px #000, 0px 0px 2px #777, 0px 0px 4px #aaa; */
    text-shadow: 2px 0px 0px #00f, 0px -2px 0px #0f0, 2px -2px 0px #0ff, 2px 2px 0px #f0f, -2px 2px 0px #f00, -2px -2px 0px gold, 2px -2px 0px #0ff, 2px 2px 0px #f0f;
}

a {
    text-decoration: none;
    color: white;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.full-cube-wrapper {
    position: relative;
    width: 240px;
    height: 20px;
    margin-top: 60px;
}

.cube-wrapper {
    margin: 0 auto;
    display: flex;
    position: absolute;
}

.cube-side-wrapper {
    top: 70px;
    z-index: 1;
}

.cube-side {
    transition: 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 160px;
    transition: 0.2s ease;
    outline: 1px solid black;
    outline-offset: -1px;
}

.cube-right-side {
    transform: skew(0, -30deg);
    outline-color: #00f;
}

.cube-right-side:hover {
    transition: 0.2s ease;
    box-shadow: -1px -1px 1px #00f, -8.66px -10px 1px #566;
    transform: translate(8.66px, 5px) skew(0, -30deg);
    background-color: #bbf;
    outline-color: #00f;
    outline-offset: 0px;
}

.cube-right-text {
    transition: 0.1s ease;
    color: #00c;
    font-size: 18px;
    text-transform: uppercase;
}

.cube-right-side:hover .cube-right-text {
    transition: 0.2s ease;
    transition-delay: 0.03s;
    color: cyan;
    text-shadow: 0px 0px 1px #000, -1px -1px #000, -1.9px -2.4px #00f, -1.7px -2.1px #00f, -1.5px -1.9px #00f, -2.165px -2.5px #000, -17.32px -20px 3px rgba(0, 0, 255, 0.3);
    transform: translate(17.32px, 20px);
}

/* left side */
.cube-left-side {
    transform: skew(0, 30deg);
    outline-color: #f00;
}

.cube-left-side:hover {
    transition: 0.2s ease;
    box-shadow: 1px -1px 1px #f00, 8.66px -10px 1px #566;
    transform: translate(-8.66px, 5px) skew(0, 30deg) ;
    background-color: #fbb;
    outline-color: #f00;
    outline-offset: 0px;
}

.cube-left-text {
    transition: 0.1s ease;
    color: #e00;
    font-size: 18px;
    text-transform: uppercase;
}

.cube-left-side:hover .cube-left-text {
    transition: 0.2s ease;
    transition-delay: 0.03s;
    color: gold;
    text-shadow: 0px 0px 1px #000, 1px -1px #000, 1.9px -2.4px #f00, 1.7px -2.1px #f00, 1.5px -1.9px #f00, 2.165px -2.5px #000, 17.32px -20px 3px rgba(255, 0, 0, 0.3);
    transform: translate(-17.32px, 20px);
}

/* top side */
.cube-top-wrapper {
    top: 0;
    left: 60px;
    z-index: 2;
    font-size: 12px;
}

.cube-top-skew {
    transform: skew(-60deg, 30deg);
}

.cube-top-side {
    height: 70px;
    outline-color: #0f0;
}

.cube-top-side:hover {
    transition: 0.2s ease;
    transform: translate(-10px, -6px);
}

.cube-first-top:hover {
    box-shadow: 1px 0.6px 0.5px #080, 10px 6px #666;
    background-color: #bfb;
    outline-color: #0f0;
    outline-offset: 0px;
}

.cube-second-top:hover {
    box-shadow: 1px 0.6px 0.5px #f0f, 10px 6px #666;
    background-color: #fbf;
}

.cube-top-text {
    transition: 0.1s ease;
    color: #0c4;
    transform: scale(1.4, 1.0);
}

.cube-top-side:hover .cube-top-text {
    transition: 0.2s ease;
    transition-delay: 0.03s;
    transform: translate(-10px, -6px) scale(1.4, 1.0);
}

.cube-first-top:hover .cube-top-text {
    color: #fdf;
    text-shadow: 0.3px 0.3px #f0f, 0px 0px 0.2px #000, 0.7px 0.4px #000, 1.25px 0.75px #f0f, 1.4px 0.9px #f0f, 1.66px 1px #f0f, 1.8px 1.1px #000, 6px 6px 2px #4d4;
}

.cube-second-top.cube-top-side:hover .cube-top-text {
    color: #fdd;
    text-shadow: 0px 1px 1px #000, 0.7px 0.4px #000, 1.25px 0.75px #f0f, 1.4px 0.9px #f0f, 1.66px 1px #f0f, 1.8px 1.1px #000, 10px 6px 3px #f0f;
}
