body {
  background-color: #222222;

}

.container-fluid{
  background-color: #222222;
  color: #FFFFFF;
}

#header{
  top: 0px;
  width: 100%;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  padding-bottom: 3%;
  background-color: #222222;
  position: fixed;
  z-index: 1;
  opacity: .9;
}

#portfolio {
  background-color: #222222;       
}

.title {
  color:#858585;
  font-size: 50px;
  text-indent: 25px;
  margin-bottom: 20%;
  position: absolute;
}

.title a{
  color:#000000;
  text-decoration: none;
}


.title h4{
  font-family: "Roboto", Arial, sans-serif;
  font-weight: lighter;
  font-size: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-indent: 25px; 
  color: #FFFFFF;
}
h1{
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-indent: 25px; 
  min-width: 780px;
}
.caption-solid h2 {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  font-weight: lighter;
  text-align: left;
  margin-left: 25px;
  font-size: 30;
}

h3 {
  text-decoration: none;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 20px;
  margin-left: 25px;
  margin-top: 10px;
}

p {
  color: #AACEEE;
    margin-left: 25px;
    margin-right: 25px;
      font-family: "Roboto";
  font-weight: lighter;
}

h5 {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 25px;
}

.menu-btns{
  width: 15%;
  margin-top: 2.5%;
  margin-right: 2%;
  float: right;
  z-index: 1;
  position: relative;
}

.rect-button {
  float: right;
  margin-top: 0px;
  text-decoration:none;
  text-align: center;
  font-size: 12px;
  color:#FFFFFF;
  -o-transition:.25s;
  -ms-transition:.25s;
  -moz-transition:.25s;
  -webkit-transition:.25s;
  transition:.25s;
}

.rect-button:hover {
  text-decoration: none;
  color: #00CCFF;
}

#home-body{
  padding-top: 10.5%;
}

#port-body{
  padding-top: 15%;
}

#project-body{
  padding-top: 11%;
}

.link {
  color: #FFFFFF;
  font-family: "Roboto", Helvetica, sans-serif;
  font-style: italic;
  -o-transition:.15s;
  -ms-transition:.15s;
  -moz-transition:.15s;
  -webkit-transition:.15s;
  transition:.15s; 
}

.link:hover {
  text-decoration: none;
  cursor: pointer;
  -o-transition:.15s;
  -ms-transition:.15s;
  -moz-transition:.15s;
  -webkit-transition:.15s;
  transition:.15s;  
  color: #00CCFF;
}

.list {
  margin-left: 25px;
}

.mask {
    position:relative;
    width: 100%;
    margin-bottom: 20px;
    float:left;
}

.mask img {
    position:absolute;
    margin-right: 10%;
    margin-left: 10%;
    min-width: 780px;
    height: 300px;
    width: auto;
}


.caption {  
    color: #FFFFFF;
    position: absolute; 
    margin-left: 40px; 
    margin-top: 40px;

    opacity: 1;
    -webkit-transition: all .5s ease-out;  
    -moz-transition: all .5s ease-out;  
    -o-transition: all .5s ease-out;  
    -ms-transition: all .5s ease-out;  
    transition: all .5s ease-out;   
}  
.caption1 {  
    color: #FFFFFF;
    position: absolute; 
    margin-left: 25%;
    margin-top: 200px;
    opacity: 1;
    -webkit-transition: all .5s ease-out;  
    -moz-transition: all .5s ease-out;  
    -o-transition: all .5s ease-out;  
    -ms-transition: all .5s ease-out;  
    transition: all .5s ease-out;   
}  


.caption-solid {  
    color: #000000;
    position: relative; 
  }
h3.caption{
  color: #FFFFFF;
}

.mask:hover .caption {  
    opacity: 0;  
}

.mask:hover .caption1 {  
    opacity: 0;  
}

h2.glance {
  text-align: center;
}

#glance-portfolio {
  /*background-color: #EDEDED;*/
  color: #000000;
  text-align: center;
  font-family: "Roboto";
  font-weight: lighter;
  vertical-align: middle;
  background-image: url("images/Flag1.jpg");
  line-height: 15px;
  padding-top: 60px;
  min-height: 207px;
  
  background: -webkit-linear-gradient(90deg, #ED3E3B 10%, #FFEDBC 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #ED3E3B 10%, #FFEDBC 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #ED3E3B 10%, #FFEDBC 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #ED3E3B 10%, #FFEDBC 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #ED3E3B 10%, #FFEDBC 90%); /* W3C */
        
        
  /*border: 1px solid #000000;*/
}

#brickpic {
    display: block;
    text-align: center  
}
.body-text {
  font-size: 20pt;
  padding-left: 50px;
  text-align: left;
}
.label-template {
  text-align: left;
  font-family: "Roboto", "Raleway", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 30px;
  text-decoration:none;
  text-indent: 20px;
}
.label-template a{
 text-decoration:none;
 color:#00CCFF;
  -o-transition:.75s;
  -ms-transition:.75s;
  -moz-transition:.75s;
  -webkit-transition:.75s;
  transition:.75s;

}
.label-template a:hover {
  color: #FFCC33;
  margin-left: 5px;
   -o-transition:.25s;
  -ms-transition:.25s;
  -moz-transition:.25s;
  -webkit-transition:.25s;
  transition:.25s;
}



.main-label-template {
  text-align: center;
  padding-top: 20%;
  padding-bottom: 50%;

}

.main-label a{
  display: inline-block;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 80px;
  color: #000000;
  text-decoration:none;
}
.main-label a:hover{
 text-decoration:none;
 color:#00CCFF;
}
#col-left {
  float:left;
  margin-left: -5%;
  width: 55%;
 
}
#col-right {
  float:right;
  margin-right: -5%;
  width: 55%;
}



#onpage {
  color: #000000;
  border: 1px solid #000000;
  border-radius: 0%;
}

.container-white {
  height: 300px;
  width: 100%;
  background-color: #EDEDED;

}
.text-header {
  float: left;
  width: 100%;
  height: 60px;
  color:#B2B2B2;
  background-color: #FFFFFF;
}
#intro{
  margin-right: 25%;
  width: 100%;
  color: #000000;
  margin-bottom: 10px;
}
.text-box {
  float: left;
  position: relative;
  text-align: left;
  width: 100%;
}

.image-box {
  float: left;
  display: block;
  width: 100%;
  background-color: #000000;
  border: 5px solid #FFFFFF;
}


.mech-maskR{
  padding-top: 14%;
  width: 50%;
  float: left;
}

.mech-maskR img{
  width: 100%;
}

.wrap {
   overflow: hidden;
   margin: 1px;
   padding-top: 14%;
}
.box {
   float: left;
   position: relative;
   width: 20%;
   padding-bottom: 20%;
}

.tbox {
   float: left;
   position: relative;
   height: 10%;
   padding-bottom: 20%;

}

.boxInner {
   position: absolute;
   left: 1px;
   right: 1px;
   top: 1px;
   bottom: 1px;
   overflow: hidden;
}
.boxInner img {
   width: 100%;
}
.boxInner .titleBox {
   position: absolute;
   font-family:"Roboto";
   font-weight: lighter;
   font-size: 14pt;
   height: 100%;
   bottom: 0;
   left: 0;
   right: 0;
   padding-top: 25%;
   background-color: #222222;
   color: #FFFFFF;
   opacity: 0;
   text-align: center;
   -webkit-transition: all 0.3s ease-out;
   -moz-transition: all 0.3s ease-out;
   -o-transition: all 0.3s ease-out;
   transition: all 0.3s ease-out;
}

#tbox img {
  height: 100%;
  width: auto;
}

.boxInner .titleBox p{
  font-size: 12px;
  }
.boxInner:hover .titleBox {
   margin-bottom: 0px;
   height: 100%;
   opacity: 1;
}
@media only screen and (max-width : 480px) {
   /* Smartphone view: 1 tile */
   .box {
      width: 100%;
      padding-bottom: 100%;
   }
   .label-template {
    text-align: center;
   }
   h5 {
    font-size: 30px;
   }
}
@media only screen and (max-width : 650px) and (min-width : 481px) {
   /* Tablet view: 2 tiles */
   .box {
      width: 50%;
      padding-bottom: 50%;
   }
}
@media only screen and (max-width : 1050px) and (min-width : 651px) {
   /* Small desktop / ipad view: 3 tiles */
   .box {
      width: 33.3%;
      padding-bottom: 33.3%;
   }
}
@media only screen and (max-width : 1290px) and (min-width : 1051px) {
   /* Medium desktop: 4 tiles */
   .box {
      width: 25%;
      padding-bottom: 25%;
   }
}
#vidbox {
  min-width: 300px;
  margin-left: 25px;
  float: left;
}
#video {
  width: inherit;
  height: 300px;
  min-width: 400px;
}
#vid-text {
  margin-left: -25px;
  width: 400px;
  height: 50px;
}

#project-box {
  border-bottom: 1px solid #777777;
}
#project-box h2 {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  color: #00CCFF;
}

}