body {
  font-weight: bold;
  background-color: #ddf;
}

.home {
  padding: 40px;
}

.home h1 {
  background: white;
  box-shadow: 0 0 0 5px white;
  margin-bottom: 40px;
}

.label-template a {
  color: white;
  padding: 4px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px 0px 1px #000, -1px -1px #000, -1.9px -2.4px #00f, -1.7px -2.1px #00f, -1.5px -1.9px #00f, -2.165px -2.5px #000;
}

.label-template a:hover {
  font-weight: bold;
  text-decoration: none;
  color: cyan;
  text-shadow: 0px 0px 1px #000, -1px -1px #000, -1.9px -2.4px #00f, -1.7px -2.1px #00f, -1.5px -1.9px #00f, -2.165px -2.5px #000, -4.33px -5px 3px rgba(0, 0, 255, 0.3), 1px 1px 3px lime;
}

.label-template a:focus {
  text-decoration: none;
  color: cyan;
}

.description {
  margin-top: 30px;
}

h1, h2, h3, h4, .rect-button {
  font-family: "helvetica", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.active {
  background-color: red;
}

body, p, p a {
  font-family: "helvetica", sans-serif;
}

p {
  max-width: 600px;
}

.project-box h2 {
  font-weight: lighter;
  color: #000000;
  font-size: 14px;
}

.boxInner p {
  font-family: "helvetica", sans-serif;
  font-weight: lighter;
  color: #fff;
  text-transform: none;
}

#header{
  width: 100%;
  height: 13%;
  padding-left: 0;
  vertical-align: middle;
}

.fixed-top {
  position: fixed;
  top: 0;
  z-index: 1;
  left: 0;
  padding-left: 30px;
}

.rect-button {
  position: relative;
  font-size: 18px;
  z-index: 2;
  margin: 0;
  padding: 10px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.rect-button:hover {
  text-decoration: none;
  color: gold;
  text-shadow: 0px 0px 1px #000, 1px -1px #000, 1.9px -2.4px #f00, 1.7px -2.1px #f00, 1.5px -1.9px #f00, 2.165px -2.5px #000, 17.32px -20px 3px rgba(255, 0, 0, 0.3);
}

.caption-solid h2 {
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  text-align: left;
  margin-left: 25px;
  font-size: 30;
}

.container-fluid {
  -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   -o-transition: all 0.3s;
   transition: all 0.3s;
}

#port-body{
  padding: 40px;
  margin-top: 40px;
}

#project-body{
  padding-top: 11%;
}

.list {
  margin-left: 25px;
}

.mask {
    position:relative;
    width: 100%;
    margin-bottom: 20px;
    float:left;
}

.mask img {
    position:absolute;
    margin-right: 10%;
    margin-left: 10%;
    min-width: 780px;
    height: 300px;
    width: auto;
}

.caption {
    color: #fff;
    position: absolute;
    margin-left: 40px;
    margin-top: 40px;

    opacity: 1;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.mask:hover .caption {
    opacity: 0;
}

.mask:hover .caption1 {
    opacity: 0;
}

h2.glance {
  text-align: center;
}

#brickpic {
    display: block;
    text-align: center
}

.body-text {
  font-size: 20pt;
  padding-left: 50px;
  text-align: left;
}

.label-template {
  text-align: left;
  font-size: 30px;
  text-decoration:none;
  transform: skew(0, -5deg);

}

#col-left {
  float:left;
  margin-left: -5%;
  width: 55%;

}
#col-right {
  float:right;
  margin-right: -5%;
  width: 55%;
}

#onpage {
  color: #000000;
  border: 1px solid #000000;
  border-radius: 0%;
}

.container-white {
  height: 300px;
  width: 100%;
  background-color: #EDEDED;
}

.text-header {
  float: left;
  width: 100%;
  height: 60px;
  color:#B2B2B2;
  background-color: #fff;
}

.text-box {
  float: left;
  position: relative;
  text-align: left;
  width: 100%;
}

.image-box {
  float: left;
  display: block;
  width: 100%;
  background-color: #000000;
  border: 5px solid #fff;
}


.mech-maskR{
  padding-top: 14%;
  width: 50%;
  float: left;
}

.mech-maskR img{
  width: 100%;
}

.wrap {
   overflow: hidden;
   margin: 1px;
   padding-top: 15%;

}

#dig-wrap{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.wrap h2{
  font-size: 120%;
  text-align: center;
  color: #fff;
}

.box {
   float: left;
   position: relative;
   width: 20%;
   padding-bottom: 20%;
}

.dig-box {
   float: left;
   position: relative;
   width: 50%;
   margin-bottom: 5%;
}

#mixer-box{
  padding-bottom: 50%;
}

#station-box{
  padding-bottom: 30%;
}

.tbox {
   float: left;
   position: relative;
   height: 10%;
   padding-bottom: 20%;

}

.boxInner {
   position: absolute;
   left: 10px;
   right: 10px;
   top: 10px;
   bottom: 10px;
   overflow: hidden;
}
.boxInner img {
   width: 100%;
}
.boxInner .titleBox {
   position: absolute;
   font-size: 120%;
   height: 100%;
   bottom: 0;
   left: 0;
   right: 0;
   padding: 20px;
   background-color: #fff;
   color: #333;
   opacity: 0;
   text-align: left;
   -webkit-transition: all 0.1s ease-out;
   -moz-transition: all 0.1s ease-out;
   -o-transition: all 0.1s ease-out;
   transition: all 0.1s ease-out;
}

.titleBox {
  text-transform: none;
}

#tbox img {
  height: 100%;
  width: auto;
}

.boxInner .titleBox p{
  font-size: 12px;
  color: #333;
}

.boxInner:hover .titleBox {
   margin-bottom: 0px;
   height: 100%;
   opacity: 0.95;
}
@media only screen and (max-width : 480px) {
   /* Smartphone view: 1 tile */
   .box {
      width: 100%;
      padding-bottom: 100%;
   }
   .label-template {
    text-align: center;
   }
   h5 {
    font-size: 30px;
   }

   #buttons {
     width: 100%;
     padding: 10px 10%;
     background: transparent;
   }

   #menu-left {
     border: 0;
   }

   #menu-center {
     border: 0;
   }

   #menu-right {
     border: 0;
   }

   #menu-left:hover {
     border: 0;
   }

   #menu-center:hover {
     border: 0;
   }

   #menu-right:hover {
     border: 0;
   }
}
@media only screen and (max-width : 650px) and (min-width : 481px) {
   /* Tablet view: 2 tiles */
   .box {
      width: 50%;
      padding-bottom: 50%;
   }
}
@media only screen and (max-width : 1050px) and (min-width : 651px) {
   /* Small desktop / ipad view: 3 tiles */
   .box {
      width: 33.3%;
      padding-bottom: 33.3%;
   }
}
@media only screen and (max-width : 1290px) and (min-width : 1051px) {
   /* Medium desktop: 4 tiles */
   .box {
      width: 25%;
      padding-bottom: 25%;
   }
}
#vidbox {
  min-width: 300px;
  margin-left: 25px;
  float: left;
}
#video {
  width: inherit;
  height: 300px;
  min-width: 400px;
}
#vid-text {
  margin-left: -25px;
  width: 400px;
  height: 50px;
}

#project-box {
  border-bottom: 1px solid #000000;
}

#overlay {
 background:rgba(0,0,0,0.7);
  width:100%;
  height: 100%;
  position: fixed;
  top:0;
  display:none;
  text-align:center;
  z-index: 1;
}

#overlay img {
  margin-top:10%;
  height: 60%;

}

.background {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
}

.background img {
  width: 100%;
  transform: scaleX(-1);
}
