body {
  font-family: Helvetica, sans-serif;
  background-color: #001;
  color: #77f;
  display: flex;
  padding: 60px;
  overflow: auto;
  font-size: 24px;
}

.wrapper {
  overflow: auto;
  width: 100%;
}

.section {
  border: 1px solid #77f;
  padding: 0 24px 24px;
  border-radius: 24px;
  background: #002;
}

.row {
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: 100%;
  /* align-items: center; */
  padding: 4px;
  overflow: auto;
}

.row.two {
  grid-template-columns: 50% 50%;
}

.row.three {
  grid-template-columns: 1fr 1fr 1fr;
}

.row.four {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.column {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  margin: 0 4px;
}

.dollarDisplay {
  overflow: hidden;
  width: 100%;
  font-size: 80px;
  height: 80px;
}

button {
  padding: 36px;
  background: transparent;
  border-radius: 20px;
  border: 2px solid #def;
  color: #def;
  font-weight: bold;
  font-size: 60px;
  margin: 0 2px;
}

button.small {
  padding: 12px;
}

label {
  font-size: 24px;
  margin-bottom: 2px;
  color: #ccc;
}

input {
  border-radius: 8px;
  background: transparent;
  border: 1px solid #999;
  font-weight: bold;
  padding: 16px 8px;
  font-size: 60px;
  min-width: 10px;
  color: #ccc;
}

.explain {
  font-size: 60px;
}

input:focus {
  outline: none;
}

.quiet {
  border: none;
  font-weight: normal;
  color: #77f;
}

.dollar {
  color: #afa;
}

.negative {
  color: #f77;
}

input.dollar {
  border: 1px solid #afb;
}

input.quiet {
  font-weight: normal;
  border: 1px solid transparent;
}

input.negative {
  font-weight: normal;
  border: 1px solid #f77;
}

.primary,
.highlight {
  padding: 20px;
  border-radius: 16px;
}

.primary {
  background-color: #004;
  color: #77f;
}

.primary input,
.primary label {
  color: #abf;
}

.highlight {
  background-color: #353;
  color: #afb;
}

.highlight input,
.highlight label,
.highlight button {
  color: #afb;
  border-color: #afb;
}
